QPushButton
{
    border: 1px solid rgb(44,140,244);
    color:  rgb(44,140,244);
    min-height: 30px;
    min-width: 40px;
}
QPushButton:hover
{
    color:  rgb(86,106,129);
}
QWidget#topWgt
{
    background-color: rgb(228,234,244);
}
QWidget#bottomWgt
{
    background-color: rgb(228,234,244);
}
